.page-layout {
    width: 1200px;
    margin: 0 auto;
}

.page-body-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.professional-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media screen and (max-width: 800px) {
    .page-layout {
        overflow: auto;
        width: unset;
        height: unset;
        margin-top: 24px;
    }

    .page-container {
        height: 500px;
        width: 90%;
    }
}