.page-container {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 650px;
    padding-right: 32px;
    padding-left: 32px;
}

.page-image {
    max-width: 30vw;
    height: auto;
}

@media screen and (max-width: 800px) {
    .page-layout {
        flex-direction: column-reverse;
        height: unset;
        width: 90%;
        margin: 24px auto;
        gap: 16px;
    }

    .page-image {
        width: 215px;
        max-width: 100%;
    }

    .page-container {
        width: 100%;
        align-items: center;
        padding: 0;
    }
}