.portfolio-name-container {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.portfolio-name-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: var(--color-font-white);
    background: var(--color-accent);
    font-family: 'Cabin Sketch', cursive;
    font-weight: 700;
    font-size: 30px;
}

.portfolio-name {
    font-family: 'Cabin Sketch', cursive;
    font-size: 30px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 24px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    text-align: center;
    font-weight: 700;
    width: 150px;
}

.active {
    font-weight: 700;
    font-size: 19px;
}

a, li {
    text-decoration: none;
    color: var(--color-font);
    font-size: 19px;
}

@media screen and (max-width: 800px) {
    nav {
        flex-direction: column;
    }

    .portfolio-name-container {
        margin-bottom: 16px;
    }

    .portfolio-name-logo {
        width: 35px;
        height: 35px;
        font-size: 25px;
    }

    .portfolio-name {
        font-size: 25px;
    }

    ul {
        gap: 16px;
    }

    li {
        width: unset;
    }

    a, li {
        font-size: 16px;
    }
}