.page-layout {
    flex-direction: column;
}

.page-header {
    text-align: center;
}

.page-body {
    display: grid;
    grid-template-columns: repeat(4, auto);
    height: 65%;
    width: 1100px;
    overflow: auto;
}

.inner-nav-links {
    cursor: pointer;
    margin-bottom: 24px !important;
}

img {
    display: block;
    transition: transform .4s;
    margin: 24px auto;
}

img:hover {
    transform: scale(1.15);
    transform-origin: 50% 50%;
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    padding-right: 48px;
}

.container-info {
    display: flex;
    flex-direction: column;
}

.container-info-title {
    font-size: 21px;
}

.container-info-header {
    padding-bottom: 16px;
    font-size: 16px;
}

@media screen and (max-width: 800px) {
    .page-body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        grid-template-columns: unset !important;
        justify-content: center;
    }

    .inner-nav-links {
        margin-top: 32px !important;
    }

    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
}