@import "variables.css";
@import "navigation-bar.css";

html {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    background: var(--color-background);
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

body {
    margin: 0;
    height: 100%;
    font-family: var(--font-primary);
}

.page-layout {
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
}

.page-header {
    font-size: 3vmax;
    padding-bottom: 16px;
    font-family: 'Cabin Sketch', cursive;
}

.page-description {
    line-height: 1.5;
    font-size: 16px;
}

.text-accent {
    color: var(--color-accent) !important;
}

.accent-button {
    cursor: pointer;
    font-family: var(--font-primary);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    width: 350px;
    height: 50px;
    border: none;
    color: var(--color-font-white);
    background: var(--color-accent);
    margin-top: 32px;
}

button:hover {
    opacity: .8;
}

.text-padding {
    padding-right: 8px;
}

.text-indent {
    padding-left: 8px;
}

.align-center {
    text-align: center;
}

.standard-size {
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-accent);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 800px) {
    .page-header {
        display: none;
    }

}