@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');

:root {
    --font-primary: 'Roboto Slab', serif;
    --color-background: #eeeeee;
    --color-font: black;
    --color-font-white: white;
    --color-accent: #d27045;
}
